In [ ]:

def my_tuple(x):
    t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, x)
    return t

x = float(input("Enter a number: "))
print(my_tuple(x))

In [ ]:
list= [1,2,3,55,55]

def sum(list):
    list1 = 0
    for x in list:
       list1 += x
    return list1

sum(list)

116

In [ ]:
list= [1,2,3,55,55]

def sum(list):
    list1 = 1
    for x in list:
       list1 *= x
    return list1

sum(list)

18150

In [ ]:
list = [6, 3, 4, 5, 6, 7, 8, 9, 10]

def find_min(list):

    return min(list)
  

find_min(list)

3

In [ ]:
list = [6, 3, 4, 5, 6, 7, 8, 9, 10]

def find_max(list):

    return max(list)
  

find_max(list)

10

In [ ]:
def list_length(list):
    count = 0
    for x in list:
        count += 1
    return count
list= str(input("Enter a list: "))
print(list_length(list))

7

In [ ]:
def copy(list):
    list1 = list[:]
    return list1
list= [1,2,3,4,5]
print(copy(list))

[1, 2, 3, 4, 5]

In [ ]:
set1 = {1, 2, 3, 4, 5}

def remove(set1):
    set2 = list(set1)
    set2.pop()
    return set2

print(set(remove(set1)))

{1, 2, 3, 4}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10, 1}
def compare(set1, set2):
    for x in set1:
        if x not in set2:
            return False
    return False
    
print(compare(set1, set2))

False

In [ ]:
set1 = {1, 2, 3, 4, 5}
def remove(set1):
    set1. clear()
    return set1

print(remove(set1))

set()

In [ ]:

def find_max(set1):
    set1 = list(set1)

    return max(set1)
  

def find_min(set1):
    set1 = list(set1)
    return min(set1)
  

set1 = {1, 2, 3, 4, 5}
print("the maximum number is: ", find_max(set1),"and the minimum number is: ", find_min(set1))

the maximum number is:  5 and the minimum number is:  1

In [ ]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
y= list(tuple1)
x= y.index(5)
print(x)

4

In [ ]:
tuple1 = ((1, "one"), (2, "two"), (3, "three"))
z =dict(tuple1)
print(z)

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
list1= [(1, "one"), (2, "two"), (3, "three")]
for x in list1:
    print([x])

[(1, 'one')]
[(2, 'two')]
[(3, 'three')]

In [ ]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
y= list(tuple1)
y.reverse()
x= tuple(y)
print(x)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
list1= [(1, "one"), (2, "two"), (3, "three")]
x = dict(list1)
print(x)

{1: 'one', 2: 'two', 3: 'three'}

In [6]:
list1 = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]  

def convert(lst):
    new_list = []
    for t in lst:
        temp = list(t)  
        temp[2] = 10
        new_list.append(tuple(temp)) 
    return new_list

list1 = convert(list1)  
print(list1)

[(1, 2, 10), (4, 5, 10), (7, 8, 10)]

In [7]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
y= list(tuple1)
y.sort()
x= tuple(y)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)